<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.dust.mapper.MbMailContactMapper">

    <resultMap id="BaseResultMap" type="com.ruoyi.dust.bean.po.MbMailContact">
        <id property="contactId" column="contact_id" jdbcType="INTEGER"/>
        <result property="contactName" column="contact_name" jdbcType="VARCHAR"/>
        <result property="mailAddr" column="mail_addr" jdbcType="VARCHAR"/>
        <result property="mobilePhone" column="mobile_phone" jdbcType="VARCHAR"/>
        <result property="groupName" column="group_name" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="isDel" column="is_del" jdbcType="CHAR"/>
        <result property="isCollect" column="is_collect" jdbcType="CHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        contact_id,contact_name,mail_addr,
        mobile_phone,group_name,user_id,
        remark,is_del,is_collect,
        create_time,update_time
    </sql>
    <select id="selectByUserId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from mb_mail_contact
        where is_del = 0
        and user_id = #{userId}
    </select>
</mapper>
